body {
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand img {
    height: 50%;
    width: 10%;
}

section h2,
section h3 {
    font-weight: bold;
}

footer {
    font-size: 14px;
}

.banner-custom {
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.banner-custom img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 4px solid #e0e0e0;
}